<!DOCTYPE html>
<html>
<head>
    <title>StudyFlow</title>
</head>
<body>

<h1>📚 Minhas Tarefas</h1>

<a href="/logout/">🚪 Sair</a><br><br>

<a href="/nova/">➕ Nova tarefa</a>

<hr>

<ul>
  {% for tarefa in tarefas %}
    <li>
      <strong>{{ tarefa.titulo }}</strong><br>
      📅 {{ tarefa.prazo }} <br>

      {% if tarefa.concluida %}
        <span style="color: green;">✔ Concluída</span>
      {% else %}
        <span style="color: red;">❌ Pendente</span>
        <a href="/concluir/{{ tarefa.id }}/">[Concluir]</a>
      {% endif %}

      <a href="/excluir/{{ tarefa.id }}/">[Excluir]</a>
    </li>
    <hr>
  {% endfor %}
</ul>

</body>
</html>
